# Editors
/.idea

# CMake and Conan
/cmake-build-debug
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
tests_*.cmake
Makefile
conan*
graph_info.json
*.cbp
compile_commands.json
CMakeCache.txt

# Build
/_deps
/lib
/bin

# Datafiles
*.h5
/data/*.h5
/experimental-data

# Python environment and cache
/venv
/__pycache__

# Log files
*.log
